.qoder
.vscode
nul
CLAUDE.md


.idea
target


dist
out
node_modules



frontend/docs
frontend/tsconfig.node.tsbuildinfo
frontend/tsconfig.web.tsbuildinfo


.env

frontend/src/renderer/public/pyodide/


test-space/

frontend/.codegraph
frontend/.cursor



backend/docs
backend/.codegraph
backend/.cursor